<style>
UNKNOWN
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    FONT-SIZE: 12pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6
{
    FONT-SIZE: 8pt;
    COLOR: #008080;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tg
{
    TEXT-ALIGN: center
}
.tg1
{
    TEXT-ALIGN: center
}
A:link
{
    FONT-WEIGHT: bold;
    COLOR: blue;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-WEIGHT: bold;
    COLOR: blue;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: bold;
    COLOR: red;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #00cc00;
    TEXT-DECORATION: none
}
.hr
{
    COLOR: #660099
}
.highlight
{
    FONT-WEIGHT: bold;
    COLOR: #ff0033;
    TEXT-DECORATION: none
}
.pathfinder
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.footer
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: verdana, arial,sans-serif
}
P.bold
{
    FONT-WEIGHT: bold;
    COLOR: black
}
P.small
{
    FONT-SIZE: 8pt
}
TD
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
OL
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tdbgcolor
{
    COLOR: #e7e7f7
}
P
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:hover FONT
{
    COLOR: black
}
BODY FONT
{
    COLOR: black
}
#gradient-style
{    
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}
#gradient-style table
{

margin-left:auto; 
margin-right:auto;
}
.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: white;
background: #678b3f url(media/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 6px 8px 3px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #8cb85c;
}

.ddcolortabs a:hover span{
background-color: #8cb85c;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ /*currently selected tab*/
background-color: #8cb85c;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 75%;
height: 8px;
line-height: 8px;
background: #678b3f;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
display:none;
}
</STYLE>