#wrapper {
	position: center;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: 600px;
}

#panel {
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	margin-top: -200px;
	height: 500px;
	width:150px;
	background-color:blue;
	float:left;
	display: block;
}

#screen{
	height: 380px;
	width: 600px;
	background-color:white;
	overflow: auto;
}

#cart{
	height: 380px;
	width: 200px;
	background-color:white;
	position: absolute;
	top: 119px;
	right: 23px;
	overflow: auto;
}

